@import '../scss/variables.scss';

.about_story{
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    color: $monochrome;

    p:nth-child(1){
        font-size: 45px;
        margin: 0 0 30px 0;
        span{
            font-weight: 900;
            background: linear-gradient(to bottom right, #000000 0%, #DC0002 63%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradientAnimation 5s infinite alternate;
            display: inline-block;
        }
    }

    p:nth-child(3){
        text-align: center;
        margin: 40px 0 0 0;
        width: 300px;
    }

    .story_img{
        width: 305px;
        overflow: hidden;
        border-radius: 35px;
        img{
            width: 100%;
        }
    }
}