@import '../scss/variables.scss';

.about_story{
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    color: $monochrome;

    p:nth-child(1){
        font-size: 45px;
        margin: 0 0 30px 0;
        span{
            font-weight: 900;
            background: linear-gradient(to bottom right, #000000 0%, #DC0002 63%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradientAnimation 5s infinite alternate;
            display: inline-block;
        }
    }

    p:nth-child(3){
        text-align: center;
        margin: 40px 0 0 0;
        width: 300px;
        color: $black;
        
        @media(min-width:768px){
            width: 80%;
            font-size: 18px;
            font-weight: 500;
        }

        @media(min-width:1024px){
            width: 55%;
        }

    }

    .story_img{
        width: 305px;
        overflow: hidden;
        border-radius: 35px;

        @media(min-width:768px){
            width: 80%;
        }

        @media(min-width:1024px){
            width: 55%;
        }

        img{
            width: 100%;
        }
    }
}

section .c_detailing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $monochrome;

    p{
        font-size: 30px;
        font-weight: 600;
        margin: 50px 70px;
        text-align: center;
        

        @media(min-width:1024px){
            font-size: 40px;
        }
    }
    .detailing_rows{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        gap: 30px;
        cursor: default;


        .d_row_1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            @media(min-width:1024px){
                flex-direction: row;
            }

            @media(min-width:768px){
                flex-direction: row;
                gap: 10px;
            }
    
            .d{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                width: 315px;
                height: 400px;
                background-color: $monochrome;
                border-radius: 35px;
                transition: transform .3s;

                &:hover{
                    transform: translateY(-10px);
                }

                @media( min-width:768px ){
                    width: 247px;
                    height: 335px;
                    gap: 10px;
                }

                .d_icon{
                    width: 90px;
                    img{
                        width: 100%;
                    }
                }

                .d_title_sec{
                    p{
                        font-size: 25px;
                        font-weight: 600;
                        margin: 0 15px;
                    }
                }
                .d_des{
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0 20px;

                        @media( min-width:768px ){
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .d_row_2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;

            @media(min-width:1024px){
                flex-direction: row;
            }

            @media(min-width:768px){
                flex-direction: row;
                gap: 10px;
            }

            
    
            .d{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                width: 315px;
                height: 400px;
                background-color: $monochrome;
                border-radius: 35px;
                transition: transform .3s;

                
                &:hover{
                    transform: translateY(-10px);
                }

                @media( min-width:768px ){
                    width: 247px;
                    height: 335px;
                    gap: 10px;
                }

                .d_icon{
                    width: 90px;
                    img{
                        width: 100%;
                    }
                }

                .d_title_sec{
                    p{
                        font-size: 25px;
                        font-weight: 600;
                        margin: 0 15px;
                    }
                }
                .d_des{
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        margin: 0 20px;

                        @media( min-width:768px ){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

}