@import './variables.scss';

section .gallery_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 0 0;
    gap: 20px;

    .gallery_title{
        p{
            font-size: 30px;
            font-weight: 600;
            color: $monochrome;
            margin: 0 0 20px 0;

            @media(min-width: 1024px){
                font-size: 40px;
            }
        }
    }

    .gallery_tile_row{
        width: 100%;
        .swiper{
            width: 100%;
            height: 100%;
        }

        .g_img{
            width: 250px;
            border-radius: 35px;
            overflow: hidden;
            margin: auto;

            &:hover img{
                transform: scale(1.1);
            }

            @media(min-width:1440px){
                width: 300px;
            }

            img{
                width: 100%;
                transition: transform .3s;
            }
        }
    }
}