// Import your variables file
@import './variables.scss';


div.bg_els{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .5;

    @media(max-width:640px){
        display: none;
    }

    .bg_hor{
        svg{
            &:nth-child(1){
                position: absolute;
                top: 10%;
                right: 52%;
                animation: hor 4s ease-in-out infinite;
            }

            &:nth-child(2){
                position: absolute;
                top: 58%;
                left: 42%;
                animation: hor 4s ease-in-out infinite;
            }

            &:nth-child(3){
                position: absolute;
                top: 19%;
                left: 21%;
                animation: hor 4s ease-in-out infinite;
            }

        }
    }

    .bg_ver{
        svg{
            &:nth-child(1){
                position: absolute;
                top: 67%;
                left: 10%;
                animation: ver 4s ease-in-out infinite;
            }

            &:nth-child(2){
                position: absolute;
                width: 35px;
                top: 10%;
                left: 1%;
                animation: ver 4s ease-in-out infinite;
            }

            &:nth-child(3){
                position: absolute;
                top: 20%;
                right: 5%;
                animation: ver 4s ease-in-out infinite;
            }

        }
    }

    svg{
        width: 45px;
    }
}

// Styles for the hero container section
section .hero_container {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff4f4;

    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1040%26quot%3b)' fill='none'%3e%3ccircle r='180' cx='-111.09' cy='-114.43' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='180' cx='684.31' cy='670.51' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='272.09' cx='562.49' cy='219.54' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='172.85' cx='304.65' cy='852.39' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='309.135' cx='1742.74' cy='708.36' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='173.75' cx='709.89' cy='272.98' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='123.075' cx='485.16' cy='167.56' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='290.42' cx='1903.49' cy='313.76' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='193.62' cx='1811.1' cy='1071.27' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3ccircle r='297.725' cx='117.17' cy='1021.16' stroke='%23ff1012' stroke-opacity='0.29' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1040'%3e%3crect width='1920' height='1080' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    

    // Styles for the container 1 within the hero section
    .cont_1 {
        display: flex;
        height: 85%;
        justify-content: space-around;
        align-items: center;

        @media(max-width:640px) {
            flex-direction: column;
            justify-content: center;
        }

        // Styles for the hero text
        .hero_text {
            display: flex;
            flex-direction: column;

            @media(max-width:768px) {
                margin-left: 50px;
                gap: 15px;
            }

            @media(max-width:640px) {
                align-items: center;
                justify-content: center;
                margin-left: 0px;
                gap: 15px;
                order: 1;
            }

            p {
                width: 460px;
                font-size: 80px;
                color: $primary;
                margin: 0px;

                @media(max-width:640px) {
                    width: 315px;
                    font-size: 45px;
                    text-align: center;
                }

                @media(max-width:768px) {
                    width: 315px;
                    font-size: 45px;
                }

                // Styles for the span with gradient background
                span {
                    font-weight: 900;
                    background: linear-gradient(to bottom right, #000000 0%, #DC0002 63%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: gradientAnimation 5s infinite alternate;
                    display: inline-block;
                }
            }

            // Styles for the link within hero text
            a {
                text-decoration: none;
                cursor: pointer;
                z-index: 3;

                // Styles for the button within the link
                button {
                    font-family: 'Montserrat';
                    padding: $btn_padding;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;
                    background-color: $monochrome;
                    color: $white;
                    transition: all .3s;

                    @media(max-width:640px) {
                        padding: $mob_btn_padding;
                    }

                    // Hover styles for the button
                    &:hover {
                        background-color: $primary;
                    }
                }
            }
        }

        // Styles for the hero image
        .hero_img {
            @media(max-width:768px) {
                width: 100%;

            }

            lottie-player {
                position: relative;
                width: 100%;
                margin: 65px 90px 0 0;
                z-index: 0;

                @media(max-width:768px) {
                    margin: 0;

                }

            }
        }
    }

    .cont_2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .down_arrow {
            position: relative;
            z-index: 5;
            .round {
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid $monochrome;
                display: grid;
                place-items: center;
            }
        }
    }
}

@keyframes gradientAnimation {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}





//Section -2


section .place_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

    @media(max-width:640px) {
        margin: 40px 15px;
    }

    p {
        margin: 0;
        color: $monochrome;
        font-size: 40px;
        text-align: center;
        font-weight: 500;


        @media(max-width:640px) {
            font-size: 35px;
        }

        span {



            font-weight: 900;
            background: linear-gradient(to bottom right, #000000 0%, #DC0002 63%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradientAnimation 5s infinite alternate;
            display: inline-block;
        }
    }

    span {
        font-weight: 500;

    }
}

.place_caro {

    @media(max-width:640px) {
        display: none;
    }
}


.place_caro .owl-carousel {


    .place_std {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 330px;
        border-radius: 35px;
        background-color: $white;
        overflow: hidden;
        margin: auto;


        img {
            width: 110%;
            height: auto;
            // object-fit: cover;
            // object-position: 0 10px;
            transition: transform .3s;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover img {
                transform: scale(1);
            }
        }

        .place_details {
            position: absolute;
            bottom: 0;
            z-index: 1;

            p {
                color: $white;
                text-align: center;
                font-size: 18px;

                span {

                    font-weight: 200;
                }
            }
        }

        .place_overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(220, 0, 2);
            background: linear-gradient(0deg, rgba(220, 0, 2, 1) 0%, rgba(220, 0, 2, 0) 60%);
            transform: scaleY(1.6);
            transition: transform .3s;

            @media(max-width:640px) {
                transform: scaleY(1);
            }
        }

        &:hover .place_overlay {
            transform: scaleY(1);
        }

    }
}

section .mob_caro {
    width: 100%;
    display: none;

    @media(max-width: 640px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper {
        width: 100%;
        height: 400px;

        .place_std {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 260px;
            height: 350px;
            border-radius: 35px;
            background-color: $white;
            overflow: hidden;
            margin: auto;

            img {
                width: 110%;
                // object-fit: cover;
                // object-position: 0 10px;
                transition: transform .3s;
            }

            .place_details {
                position: absolute;
                bottom: 0;
                z-index: 1;

                p {
                    color: $white;
                    text-align: center;
                    font-size: 18px;

                    span {
                        font-weight: 200;
                    }
                }
            }

            .place_overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(220, 0, 2);
                background: linear-gradient(0deg, rgba(220, 0, 2, 1) 0%, rgba(220, 0, 2, 0) 60%);
                transform: scaleY(1.6);
                transition: transform .3s;

                @media(max-width:640px) {
                    transform: scaleY(1);
                }
            }

            &:hover .place_overlay {
                transform: scaleY(1);
            }

        }

        .swiper-pagination-bullet {
            background-color: $primary;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background-color: $primary;
            opacity: 1;
        }
    }
}

section .place_btn {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: none;
        cursor: pointer;

        button {
            font-family: 'Montserrat';
            padding: $btn_padding;
            color: $white;
            background-color: $monochrome;
            border-radius: 50px;
            border: none;
            transition: all .3s;
            cursor: pointer;
        }

        &:hover button {
            background-color: $primary;
        }
    }
}



//section 3rd


#third_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .course_title {
        p {
            font-size: 40px;
            font-weight: 600;
            color: $monochrome;

            @media(max-width:640px){
                font-size: 30px;
            }

            span {
                font-weight: 900;
                background: linear-gradient(to bottom right, #000000 0%, #DC0002 63%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: gradientAnimation 5s infinite alternate;
                display: inline-block;
            }
        }
    }


    .course_tile {
        width: 802px;
        height: 680px;
        gap: 13px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        color: $monochrome;
        margin: auto;

        @media(max-width:768px) {
            width: 650px
        }

        .course {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 234px;
            height: 316px;
            background-color: $white;
            border-radius: 35px;
            padding: 10px 10px;

            @media(max-width:768px) {
                width: 180px;
                height: 293px;
            }

            ._course_icon {
                width: 120px;

                img {
                    width: 100%;
                }
            }

            ._course_title {
                p {
                    font-weight: 700;
                    text-align: center;
                    font-size: 20px;
                    margin: 0;
                }
            }

            ._course_dur {
                p {
                    font-size: 13px;
                    color: $dark;
                }
            }

            ._course_btn {
                a {
                    text-decoration: none;

                    button {
                        color: $dark;
                        font-weight: 600;
                        font-family: 'Montserrat';
                        padding: $btn_padding;
                        background-color: #f1f1f1;
                        border: 1px solid $white;
                        border-radius: 50px;
                        transition: all .3s;
                        cursor: pointer;

                        &:hover {
                            background-color: $monochrome;
                            color: $white;
                        }
                    }
                }

            }

        }
    }

    .c-Swiper {
        @media(max-width: 640px) {
            display: none;
        }
    }

    .swiper {
        width: 100%;
        height: 725px;

        .swiper-pagination-bullet {
            background-color: $primary;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background-color: $primary;
            opacity: 1;
        }
    }

    .swiper.c-mob-Swiper {
        width: 100%;
        height: 570px;
        // background-color: yellow;
    }

    .c-mob-Swiper {
        display: none;

        @media(max-width:640px) {
            display: flex;
            height: 640px;
        }

        .course_tile {
            width: 320px;
            height: auto;

            // background-color: yellow;
            .course {
                width: 153px;
                height: 256px;
            }

            ._course_icon {
                width: 75px;
            }

            ._course_btn a button {
                padding: $mob_btn_padding;
            }
        }
    }

    .all_course{
        text-decoration: none;

        button{
            padding: $btn_padding;
            background-color: $monochrome;
            color: $white;
            border-radius: 50px;
            border: none;
            font-family: 'Montserrat';
            margin-top: 20px;
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: $primary;
            }
        }
    }
}



#forth_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;

    .offer_title {
        display: flex;
        align-items: center;
        justify-content: center;



        p {
            color: $monochrome;
            font-size: 40px;
            font-weight: 600;

            @media(max-width:640px) {
                font-size: 30px;
            }
        }
    }

    .offer_tile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        gap: 30px;

        @media(max-width:640px) {
            display: none;
        }

        @media(max-width:1024px) {
            gap: 10px;
        }

        .offer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $monochrome;
            width: 234px;
            height: 326px;
            border-radius: 35px;
            transition: transform .3s;

            @media(max-width:1024px) {
                width: 155px;
                height: 237px;
            }

            .offer_icon {
                width: 90px;

                @media(max-width:1024px) {
                    width: 50px;
                }

                img {
                    width: 100%;
                }
            }

            .offer_title_sec {
                p {
                    margin: 10px 0;
                    color: $white;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 500;

                    @media(max-width:1024px) {
                        font-size: 20px;
                    }
                }
            }

            .offer_des {
                p {
                    margin: 0 10px;
                    text-align: center;
                    margin: 5px 10px;

                    @media(max-width:1024px) {
                        font-size: 10px;
                    }
                }
            }

            &:hover {
                transform: translateY(-10px);
            }

        }
    }

    .swiper {
        width: 100%;
        height: 395px;

        .swiper-pagination-bullet {
            background-color: $primary;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background-color: $primary;
            opacity: 1;
        }
    }

    .mob_offer_tile {
        display: none;

        @media(max-width:640px) {
            display: block;
        }

        .offer {
            background-color: $monochrome;
            width: 260px;
            height: 330px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 35px;
            color: $white;
            margin-top: 20px;


            .offer_icon {
                width: 90px;

                img {
                    width: 100%;
                }
            }

            .offer_title_sec {
                p {
                    text-align: center;
                    font-size: 30px;
                    margin: 10px 0;
                    font-weight: 600;
                }
            }

            .offer_des {
                p {
                    text-align: center;
                    margin: 0 30px;
                }
            }
        }
    }
}


#fifth_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;

    .testimo_title {
        p {
            color: $monochrome;
            font-size: 40px;
            margin: 0;
            font-weight: 600;
            text-align: center;

            @media(max-width:640px) {
                font-size: 30px;
            }
        }

        span {
            font-weight: 500;
            text-align: center;

            @media(max-width:640px) {
                font-size: 10px;
            }
        }
    }


    .swiper {
        width: 100%;
        height: 400px;

        @media(max-width:640px) {
            height: 360px;
        }

        .swiper-pagination-bullet {
            background-color: $primary;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background-color: $primary;
            opacity: 1;
        }
    }


    .testimo_tile {

        .testimo_card {
            position: relative;
            background-color: $white;
            margin: 150px auto auto auto;
            width: 400px;
            height: 180px;
            border-radius: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -webkit-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -moz-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
            }

            @media(max-width:640px) {
                width: 300px;
                height: 180px;
                margin: 100px auto auto auto;

                box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -webkit-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -moz-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
            }

            @media(max-width:768px) {
                box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -webkit-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
                -moz-box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.32);
            }


            @media(min-width:769px) and (max-width:1200px) {
                width: 250px;
                height: 150px;
            }
        }

        .testimo_icon {
            position: absolute;
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 100%;
            top: -75px;

            @media(min-width:769px) and (max-width:1200px) {
                top: -90px;
            }

            img {
                width: 100%;
            }
        }

        .testimo_des {
            p {
                margin: 20px;
                font-size: 13px;
                text-align: center;
                color: $monochrome;

                span {
                    font-family: 'Montserrat';
                    font-size: 50px;
                    font-weight: 500;

                    @media(min-width:769px) and (max-width:1200px) {
                        font-size: 30px;
                    }
                }


                @media(min-width:769px) and (max-width:1200px) {
                    font-size: 10px;
                }
            }
        }
    }
}


@keyframes hor{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes ver{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}