
@import 'variables';


::-webkit-scrollbar{
    width:6px
}
::-webkit-scrollbar-track{
    background:#ffffff;border-radius:70px
}
::-webkit-scrollbar-thumb{
    background:#dc0002;
    border-radius:64px;
}

:root{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}



// Reset default margin, padding, and set the font family for the entire document
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    scroll-behavior: smooth;

    
}

// Styles for the navigation container
nav .nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    z-index: 100;

    // Styles for the navigation logo
    .nav_logo {
        margin-left: 25px;
        img {
            width: 175px;
        }
    }

    // Styles for the navigation links

    .nav_links{
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: center;


        .all_courses{
            position: absolute;
            display: none;
            background-color: $white;
            padding: 30px;
            border-radius: 30px;
            box-shadow: 0px 0px 30px 5px rgba(220, 0, 2, 0.1);
            top: 48px;

            @media(max-width:1024px){
                display: none;
            }

            .all_c_rows{
                display: flex;
                gap: 30px;
                
                .all_c_row_1,.all_c_row_2{
                    display: flex;
                        flex-direction: column;
                        gap: 10px;
                    li{
                        list-style: none;
                        a{
                            color: $primary;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                                transform: translateY(10px);
                            }
                        }
                    }
                }
            }
        }
    }

    .nav_links ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media(max-width:1024px){
            display: none;
        }

        li a {
            color: $primary;
            text-decoration: none;
            font-weight: 400;

            &:hover {
                font-weight: 800;
            }

        }
    }

    // Styles for the navigation login section
    .nav_log {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 25px;
        @media(max-width:1024px){
            display: none;
        }

        // Styles for each link within the login section
        a {
            text-decoration: none;

            // Styles for each button within the link
            button {
                padding: $btn_padding;
                border-radius: 50px;
                color: $primary;
                border: 0px;
                font-family: 'Montserrat';
            }

            // Styles for the first button in the login section
            &:nth-child(1) button {
                background-color: transparent;
                color: $monochrome;
                border: 1px solid $monochrome;
                transition: all .3s;

                &:hover {
                    background-color: $primary;
                    color: $white;
                    border: 1px solid $primary;
                }
            }

            // Styles for the second button in the login section
            &:nth-child(2) button {
                background-color: $monochrome;
                color: $white;

                transition: all .3s;

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .nav_ham{
        display: none;
        @media (max-width:1024px){
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-evenly;
            // gap: 8px;
            margin-right: 20px;
            height: 40px;
            z-index: 102;
        }

        .ham_stroke{
            background-color: $monochrome;
            border-radius: 50px;
        }

        .ham_stroke:nth-child(1){
            width: 12px;
            height: 4px;
        }
        
        .ham_stroke:nth-child(2){
            width: 24px;
            height: 4px;
        }
        
        .ham_stroke:nth-child(3){
            width: 37px;
            height: 4px;
        }
    }
}

.link_active{
    font-weight: 800;
}


aside .mob_nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    z-index: 101;
    transition: transform .3s ease-in-out;

    @media ( min-width:640px ){
        display: none;
    }

    .nav_close{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 42px;
        right: 21px;

        .close_stroke{
            width: 37px;
            height: 4px;
            background-color: $monochrome;
            border-radius: 50px;

            &:nth-child(1){
                transform: rotate(45deg);
            }
            &:nth-child(2){
                transform: rotate(-45deg) translate(2px,-2px);
            }
        }
    }

    .mob_nav_links{
        margin-right: 40px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                text-align: end;
                animation: slide 1s ease-in-out;

                &:nth-child(1){
                    animation-delay: 1ms;
                }
                &:nth-child(2){
                    animation-delay: 30ms;
                }
                &:nth-child(3){
                    animation-delay: 60ms;
                }
                &:nth-child(4){
                    animation-delay: 90ms;
                }
                &:nth-child(5){
                    animation-delay: 120ms;
                }
                a{
                    text-decoration: none;
                    color: $black;
                    font-weight: 600;
                    font-size: 30px;
                }
            }
        }
    }

    .mob_nav_btn{
        position: absolute;
        bottom: 39px;
        right: 40px;
        a{
            text-decoration: none;
            button{
                font-family: 'Montserrat';
                padding: $mob_btn_padding;
                color: $white;
                background-color: $primary;
                border: none;
                border-radius: 50px;
                font-weight: 500;
            }

            &:nth-child(1) button{
                color: $primary;
                background-color: $white;
                border: solid 1px $primary;
            }
        }
    }
}

div.active{
    display: flex;
    transform:  translateX(-466px);
}


@keyframes slide {
    0%{
        opacity: 0;
        transform: translateX(-150px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
