
@import 'variables';


::-webkit-scrollbar{
    width:6px
}
::-webkit-scrollbar-track{
    background:#ffffff;border-radius:70px
}
::-webkit-scrollbar-thumb{
    background:#dc0002;
    border-radius:64px;
}


// Reset default margin, padding, and set the font family for the entire document
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    // overflow-x: hidden;
}

// Styles for the navigation container
nav .nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 100;

    // Styles for the navigation logo
    .nav_logo {
        margin-left: 25px;
        img {
            width: 175px;
        }
    }

    // Styles for the navigation links
    .nav_links ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        @media(max-width:1024px){
            display: none;
        }

        li a {
            color: $primary;
            text-decoration: none;
            font-weight: 400;

            &:hover {
                font-weight: 800;
            }
        }
    }

    // Styles for the navigation login section
    .nav_log {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 25px;
        @media(max-width:1024px){
            display: none;
        }

        // Styles for each link within the login section
        a {
            text-decoration: none;

            // Styles for each button within the link
            button {
                padding: $btn_padding;
                border-radius: 50px;
                color: $primary;
                border: 0px;
                font-family: 'Montserrat';
            }

            // Styles for the first button in the login section
            &:nth-child(1) button {
                background-color: transparent;
                color: $monochrome;
                border: 1px solid $monochrome;
                transition: all .3s;

                &:hover {
                    background-color: $monochrome;
                    color: $white;
                }
            }

            // Styles for the second button in the login section
            &:nth-child(2) button {
                background-color: $monochrome;
                color: $white;

                transition: all .3s;

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    .nav_ham{
        display: none;
        @media (max-width:1024px){
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-evenly;
            // gap: 8px;
            margin-right: 20px;
        }

        .ham_stroke{
            background-color: $monochrome;
            border-radius: 50px;
        }

        .ham_stroke:nth-child(1){
            width: 15px;
            height: 4px;
        }
        
        .ham_stroke:nth-child(2){
            width: 27px;
            height: 4px;
        }
        
        .ham_stroke:nth-child(3){
            width: 45px;
            height: 4px;
        }
    }
}
