@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary : #FF1012;
$monochrome : #DC0002;
$white : white;
$black : black;
$btn_padding : 12px 30px;
$mob_btn_padding : 12px 18px;
